
:root {
    color-scheme: light dark;
}
body {
    background-color: light-dark(#FAF9F6, #212121);
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: light-dark(#212121, #FAF9F6)
}

.map{
    width: 100%;
    height: 100%;
    background:#000000;
    overflow: hidden; 
    display: flex;
}

.mappic{
    pointer-Events: none;
}

.linecontainer{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-Events: none;
}
.line{
    z-index: 10;
    position: relative;
    width: 100%;
    height: 100%;
    pointer-Events: none;
}



.control_panel{
    position: absolute;
    width: 15%;
    height: fit-content;
    text-align: center;
    background: rgba(188, 188, 188, 0.50);
    backdrop-filter: blur(4px);
    padding: 40px;
    text-align: center;
    color: #111;
    border-radius: 16px;
    z-index: 2;
}

.slide_menu{
    position: absolute;
    width: 5%;
    height: fit-content;
    text-align: center;
    background: rgba(188, 188, 188, 0.50);
    backdrop-filter: blur(4px);
    text-align: center;
    color: #111;
    border-radius: 16px;
    z-index: 20;
    overflow-x: hidden;
    transition: 0.25s;
}

.slide_buttons{
    display: block;
    width: 50%;
    height: fit-content;
    background: light-dark(#e3362c, #C8A2C8);
    color: light-dark(#fff, #000);
    text-align: center;
    padding: 12px;
    
    margin: 9px auto;
    border-radius: 16px;
    cursor: pointer;
}

label{
    display: block;
    width: 50%;
    height: fit-content;
    background: light-dark(#e3362c, #C8A2C8);
    color: light-dark(#fff, #000);
    text-align: center;
    padding: 12px;
    
    margin: 9px auto;
    border-radius: 16px;
    z-index: 2;
}

.image{
    min-width: 100%;
    height: auto;
    background: rgb(195, 186, 186);
    background: rgb(195, 186, 186);
    text-align: center;
    color: #333;
    z-index: 0;
    
}

.waypoint{
    width: '50px';
    height: '50px';
    z-index: 1;
    position:absolute;  
}

.image h1{
    font-weight: 500;
    color: #000;
}

.image img{
    position: relative;
    width: 100%;
    height: auto;
    cursor: grab;
}


input{
    display: none;
}